#bod{
	width: 100%;
	height: 100vh;
	background-color: #f3f1f1!important;
}

.nav{
	background-color: rgba(160, 83, 115, 0.9);
	margin-bottom: 30px;
}

.nav-link.active{
	background-color: rgba(193, 72, 123, 0.8);
}

.navbar-toggler {
	background-color: rgba(193, 72, 123, 0.8);
}

.nav-link:hover, .nav-link:focus {
  color: black;
}

.navbar {
  background-color: rgba(160, 83, 115, 0.9);
}

#hello{
	margin-left: 21%;
	margin-top: 20%;
	font-size: 52px;
	line-height: 52px;
	color: #A92E5B;
}
#desc{
	margin-top: 8%;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
}
.desc-head{
	margin-top: 30px;
	font-size: 26px;
	color: #A92E5B;
}
.content-desc{
	text-align: justify;
}
.creativity-desc{
	text-align: justify;
	margin-bottom: 30px;
}
.container2{
	margin-right: 60px;
}

#mypic{
	width: 300px;
	height: 400px;
	border: 1px solid #000000;
	box-sizing: border-box;
	box-shadow: 25px 25px 0px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	margin-left: 2%;
	margin-top: 16%;
}

#scenery{
	width: 250px;
	height: 375px;
	margin-left: 26%;
	margin-top: 40px;
	box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.15);
	border-radius: 28px;
}
#quote{
	margin-left: 10%;
	margin-top: 38px;
	font-size: 27px;
	line-height: 30px;
	text-align: center;	
	color: #A92E5B;
}


.container3{
	margin-top: 20px;
}


/*profile.html*/

#name{
	margin-top: 20px;
	font-size: 36px;
	margin-left: 50px;
}
#date{
	font-size: 16px;
	color: #A92E5B;
	margin-left: 50px;
	font-weight: 600;
}
#dots{
	font-weight: bold;
	margin-bottom: 10px;
	margin-left: 50px;
	font-size: 26px;
}
.emojis{
	font-size: 40px;
	margin-left: 336px;
	margin-top: 40px;
}
#headd{
	margin-left: 15px;
}
#ed{
	font-size: 25px;
	font-weight: bold;
	margin-left: 50px;
	margin-top: 10px;
	color: #A92E5B;
	text-decoration: underline;
}
.edu{
	font-size: 15px;
}

#ach{
	font-size: 25px;
	font-weight: bold;
	margin-left: 50px;
	margin-top: 15px;
	color: #A92E5B;
	text-decoration: underline;
}
.achv{
	font-size: 15px;
}

#exp{
	font-size: 25px;
	font-weight: bold;
	margin-left: 30px;
	margin-top: 10px;
	color: #A92E5B;
	text-decoration: underline;
}
.expr{
	font-size: 14px;
	margin-left: 40px;
}

#skills{
	font-size: 25px;
	font-weight: bold;
	margin-left: 60px;
	margin-top: 10px;
	color: #A92E5B;
	text-decoration: underline;
}
.sk{
	font-size: 15px;
	margin-left: 70px;
}
.components{
	margin-top: 150px;
}

/* contacts.html */
#copyright{
	font-size: 18px;
	margin-bottom: 0px;
	text-align: center;
	color: #A92E5B;
}
#text{
	color: #A92E5B;
	text-align: center;
	line-height:55px;
	margin-top: 204px;
	font-size: 55px;
}

.link{
	color: rgb(95, 139, 160);
}

/* create.html */
.add-title{
	margin-top: 50px;
	margin-left: 76px;
	color: #A92E5B;;
}

#formulir{
	margin-top: 20px;
	margin-left: 60px;
	margin-right: 60px;
}

.btn-primary{
	color: #fff;
	background-color: #A92E5B;
	border-color: #A92E5B;
	margin-top: 40px;
}

.table-responsive{
	margin-top: 30px;
}

.ev-title{
	padding-top: 30px;
	padding-left: 30px;
}

#head{
	color: #A92E5B;
}

.tombol{
	margin-left:30px;
}

.accordion {
	background-color: rgba(221, 221, 221, 0.36);
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
	margin-left: 50px;
	font-size: 18px;
	text-decoration: underline;
	color: #A92E5B;
  }

#accordion {
	margin-top: 17px;
}
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
	background-color: #ccc;
  }

.accordion:after{
	content: "\02795";
	font-size: 9px;
	color: #A92E5B;
	float: right;
	margin-left: 5px;
}

.active:after{
	content: "\2796";
}

  /* Style the accordion panel. Note: hidden by default */
.panel {
	padding: 18px;
	width: 100%;
	background-color: #f7f0f0;
	display: none;
	overflow: hidden;
	margin-left: 50px;
	font-size: 15px;
  }