{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
	<head>
		<title>ABOUT ME</title>
	</head>
	
	<body>
	
		<div class="container2" style="margin-top: 30px;">
			<div class="row">
				<div class="col-md-4" style="margin-top: 35px;">
					<img src="{% static 'images/scenery.jpg' %}" id="scenery"/>
					<h2 id="quote"><strong>I Like to be Adventurous<br>
						& See the World Through<br>Various Perspectives</strong></h2>
				</div>
				<div class="col-md-4" style="margin-top: 35px;">
					<div class="col">
						<div class="row-md-2">
							<h3 class="desc-head"><strong>&#128154 I Am a Dedicated Person.</strong></h3>
							<p class="content-desc">I'm a highly dedicated person. I sometimes even
							risk my health to finish the job I am responsible of. It's very important
							for me to dedicate myself to do something I am responsible of for the sake of
							common goods.</p>
						</div>
						<div class="row-md-2">
							<h3 class="desc-head"><strong>&#127759 I Am an Environmentalist.</strong></h3>
							<p class="content-desc">When you claim yourself as an environmantalist,
							you need to be truly care about the environment and start by doing
							some little and meaningful things to save the earth!</p>
						</div> 
						<div class="row-md-2">
							<h3 class="desc-head"><strong>&#128444 I Express My Creativity Through Designs.</strong></h3>
							<p class="creativity-desc">I've been into designs since
								I was a sophomore in high school. And since I also study
								computer science, I'm aspired to put my sense of aesthetic-ness
								into digital product designs.</p> 
						</div>
					</div>
				</div>
				<div class="col-md-4" style="margin-top: 35px;">
					<div class="col">
						<div class="row-md-2">
							<h3 class="desc-head"><strong>&#127926 I Love Alternative Musics.</strong></h3>
							<p class="content-desc">I love alternative/indie and RnB musics. Yes, my music taste is
							a little bit anti-mainstream. My favourite kind of bands/musicians are something like
							LANY, Honne, The 1975, The Japanese House, Girl in Red, Declan McKenna, Frank Ocean, SZA,
							Alextbh, etc.</p>
						</div>
						<div class="row-md-2">
							<h3 class="desc-head"><strong>&#9992 I Like to Travel.</strong></h3>
							<p class="content-desc">Travelling could be very exciting for me.
							I could bump into my peace of mind. Besides that,
							going back to nature can make me learn to appreciate life more by
							seeing the world from different perspectives.</p>
						</div> 
						<div class="row-md-2">
							<h3 class="desc-head"><strong>&#128123 I Am Into Horror Stuff.</strong></h3>
							<p class="content-desc">Meanwhile most of my friends find horror/thriller stuff,
							such as horror/thriller movies, books, or short story scary, I find them
							intriguing! It's always exciting for me to read horror stories,
							especially the ones that are based on true events like Cermis UI.</p> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

{% endblock %}