{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" id="theme" href="{% static 'css/style.css' %}" title="light" />
        <link rel="stylesheet" id="theme" href="{% static 'css/alt-style.css' %}" title="dark" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="/static/js/script.js"></script>
    </head>
    
  <body id="bod">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light">
            <a class="navbar-brand" style="font-size: 20px;" href="">&#x1F469;&#x1F3FB;&#x200D;&#x1F4BB;</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'S7App:home' %}" style="color: white;">HOME<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'S7App:about' %}" style="color: white;">ABOUT ME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'S7App:profile' %}" style="color: white;">MY PROFILE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'S7App:contacts' %}" style="color: white;">CONTACTS</a>
                    </li>
                </ul>
                <div class="right">
                    <span class="navbar-text" style="text-align: end; color: white;">
                        THEME :
                    </span>
                    <button class="btn" id="light" title="Light Mode" style="font-size: 21px;" onclick="switch_style('light');return false;" name="theme" value="Light Theme">&#127774</button>
                    <button class="btn" id="dark" title="Dark Mode" style="font-size: 20px;" onclick="switch_style('dark');return false;" name="theme" value="Dark Theme">&#x1F31B</button>
                </div>
            </div>
        </nav>

        {% block content %}
	
    	{% endblock %}
  
    </body>
</html>
