{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
	<head>
		<title>CONTACT ME</title>
	</head>
	
	<body>
	
		<div class="container4" style="margin-top: 30px;">		
			<div class="row">
				<div class="col-md-6" style="height: 560px">
					<h1 id="text">Let's Get in Touch!<br>Find Me on:</h1>
				</div>
				<div class="col-sm-6" style="height: 560px">
					<div class="components">
						<p class="link"><a href="https://www.linkedin.com/in/kirana-alfatianisa-1b2852185/" target="_blank"><img alt="linkedin" style="vertical-align: middle;
						margin-left: 12px; height:70px" src="{% static 'images/altlinkedin.png' %}"/><span style="font-size: 28px; margin-left: 12px">Kirana Alfatianisa</span></a></p>
						<p class="link"><a href="https://instagram.com/kiralft" target="_blank"><img alt="insta" style="vertical-align: middle; margin-left: 11px; height:75px"
						src="{% static 'images/igalt.png' %}"/><span style="font-size: 28px; margin-left: 13px;">kiralft</span></a></p>
						<p class="link"><a href="mailto: alfatianisa@gmail.com" target="_blank"><img alt="gmail" style="vertical-align: middle; height:70px; margin-left: 12px"
						src="{% static 'images/mail.png' %}"/><span style="font-size: 28px; margin-left: 12px;">alfatianisa@gmail.com</span></a></p>
					</div>
				</div>
			</div>
			<div class="row-md-1">
				<h3 id="copyright"><strong>Kirana Alfatianisa &copy 2019</strong></h3>
			</div>
		</div>
	</body>
</html>

{% endblock %}