{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
	<head>
		<title>HOME</title>
	</head>
	
	<body>

		<div class = "container" style="margin-top: 30px;">
			<div class="row">
				<div class="col-sm-7">
					<h1 id="hello"><strong>HELLO!&#x1f44b </strong><br>My Name is<br>Kirana Alfatianisa.</h1>
					<p id="desc">I'm a graphic and web design enthusiast.<br> I'm currently in my sophomore year of studying computer<br>
						science at University of Indonesia and really aspired to be a<br>
						front end developer or data analyst in the near future!</p>
				</div>
				<div class="col-sm-5" >
					<img src="{% static 'images/me.jpg' %}" alt="self picture" id="mypic"/>
				</div>
			</div>
		</div>
	</body>
</html>

{% endblock %}