{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
	<head>
		<title>MY PROFILE</title>
	</head>
	
	<body>
		<div class="container3" style="margin-top: 60px;">
			<div class="row">
				<div class="col-md-5">
					<div id="headd" style="margin-top: 35px;">
						<h1 id="name"><strong>Kirana Alfatianisa</strong></h1>
						<h3 id="date">Sophomore at University of Indonesia<br>
						Born in Jakarta, August 12, 2000</h3>
						<h2 id="dots"> .               .               .    </h2>
					</div>
				</div>
				<div class="col-md-7">
					<h2 class="emojis" style="margin-top: 35px;">&#127891  &#127942  &#128203  &#9881</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="col" id="accordion">
						<button class="accordion"><strong>Recent  Activities</strong></button>
							<div class="panel">
						  		<p style="text-align: justify;">I am currently on my 3rd semester of studying computer science in University of Indonesia.
									  My recent activities are mostly studying, working on assignments, listening to music,
									  or complaining about my sleep deprivation. Being a 3rd semester CS major in UI sucks
									  my soul out slowly lol. 
								</p>
							</div>
						<button class="accordion"><strong>Education</strong></button>
							<div class="panel">
								<ul class="educations">
									<li class="edu">
										<p>SD Negeri Cipedak 03 (2006-2012)</p>
									</li>
									<li class="edu">
										<p>SMP Negeri 85 Jakarta (2012-2015)</p>
									</li>
									<li class="edu">
										<p>SMA Negeri 28 Jakarta (2015-2018)</p>
									</li>
									<li class="edu">
										<p>Faculty of Computer Science,
										University of Indonesia (2018-now)</p>
									</li>
								</ul>
							</div>
						<button class="accordion"><strong>Achievements</strong></button>
							<div class="panel">
								<ul class="achievements">
									<li class="achv">
										<p>2nd Place at 8 Research Competition (2016)</p>
									</li>
									<li class="achv">
										<p>2nd Runner Up at KIR Jakarta Selatan Research Paper Competition (2016)</p>
									</li>
								</ul>
							</div> 
					</div>
				</div>
				<div class="col-md-4">
					<h2 id="exp">Experiences:</h2>
					<ul class="experiences">
						<li class="expr">
							<p>Creative & Documentation Staff of Science Class SMAN 28 Jakarta (2015)</p>
						</li>
						<li class="expr">
							<p>PIC of Design & Decoration at Science Class SMAN 28 Jakarta (2016)</p>
						</li>
						<li class="expr">
							<p>PIC of Science Project Competition at Robotic Day (2017)</p>
						</li>
						<li class="expr">
							<p>Deputy of Technological Applications at KIR SMAN 28 Jakarta (2016-2017)</p>
						</li>
						<li class="expr">
							<p>Liaison Officer at OIM UI 2018 (2018)</p>
						</li>
						<li class="expr">
							<p>Secretary Staff at COMPFEST 11 (2019)</p>
						</li>
						<li class="expr">
							<p>Staff of Entrepreneurship Division at DPM Fasilkom UI</p>
						</li>
					</ul>
				</div>
				<div class="col-md-4">
					 <h2 id="skills">Skills & Tools:</h2>
					<ul class="skill-lst">
						<li class="sk">
							<p>Java</p>
						</li>
						<li class="sk">
							<p>Python 3</p>
						</li>
						<li class="sk">
							<p>HTML 5</p>
						</li>
						<li class="sk">
							<p>CSS</p>
						</li>
						<li class="sk">
							<p>Canva</p>
						</li>
						<li class="sk">
							<p>Power BI</p>
						</li>
						<li class="sk">
							<p>Microsoft Office</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>

{% endblock %}